* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-content-container {
    margin-top: 80px;
}

.main-content {
    width: 730px;
    float: left;
}

.tab-title-container {
    border-bottom: 2px solid #eee;
}
.tab-title {
    cursor: pointer;
    float: left;
    font-size: 18px;
    margin-right: 30px;
    padding-bottom: 10px;
    line-height: 100%;
}
.tab-title-container .active {
    color: #ef4238;
}


.related {
    width: 360px;
    margin-left: 920px;
}
.related-movie-item {
    width: 360px;
    height: 200px;
    margin-top: 40px;
}
.related-movie-item .item-img {
    width: 120px;
    height: 184px;
    float: left;
}
.related-movie-item .item-img>img {
    width: 120px;
    height: 184px;
}
.related-movie-item .item-info {
    position: relative;
    top: 20px;
    margin-left: 140px;
}
.related-movie-item .item-info>h5{
    width: 900px;
    line-height: 32px;
    font-weight: 700;
    font-size: 20px;
    display: inline;
}
.related-movie-item .item-info .type {
    margin-top: 25px;
    font-size: 12px;
    line-height: 12px;
    color: #666;
}
.related-movie-item .item-info .time {
    margin-top: 5px;
    font-size: 12px;
    line-height: 12px;
    color: #666;
}
.related-movie-item .item-info .score {
    margin-top: 25px;
    font-size: 24px;
    color: red;
}

