*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.clearfloat:after{clear: both;display:table;content:"";}
.clearfloat{ zoom:1}



.btn-gp {
    position: absolute;
    z-index: 999;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.btn-gp .btn {
    height: 40px;
    width: 180px;
    border-radius: 0;
    margin-left: 10px;
    background-color: black;
}
.btn-active {
    background: url("../img/main/按钮.jpg");
}
.actively {
    background: url("../img/main/按钮.jpg");
}



.bg-img {
    width:100%;
    height:290px;
    overflow:hidden;
}
.bg-img1 {
    background: url("../img/main/妖铃铃.jpg");
    background-position:50%;
    background-repeat:no-repeat;
    background-size:cover;
}
.bg-img2 {
    background: url("../img/main/二代妖精之今生有幸.jpg");
    background-position:50%;
    background-repeat:no-repeat;
    background-size:cover;
}
.bg-img3 {
    background: url("../img/main/星球大战-最后的绝地武士.jpg");
    background-position:50%;
    background-repeat:no-repeat;
    background-size:cover;
}
.bg-img4 {
    background: url("../img/main/公牛历险记.jpg");
    background-position:50%;
    background-repeat:no-repeat;
    background-size:cover;
}
.bg-img5 {
    background: url("../img/main/卧底巨星.jpg");
    background-position:50%;
    background-repeat:no-repeat;
    background-size:cover;
}





