<div class="banner">
    <div class="wrapper clearfloat">
        <div class="cele-left">
            <img class="con-img" src="/static/img/films/宠爱.jpg">
        </div>
        <div class="cele-right clearfloat">
            <div class="movie-brief">
                <h3 class="movie-name">宠爱</h3>
                <span class="score">8.9</span>
                <ul style="width: 250px;list-style: none;padding-left: 0;margin-bottom: 20px;">
                    <li class="ellipsis">
                        <a class="text-link" href=""> 喜剧 </a>
                        <a class="text-link" href=""> 爱情 </a>
                        <a class="text-link" href=""> 剧情 </a>
                    </li>
                    <li class="ellipsis">
                        中国大陆 / 108分钟
                    </li>
                    <li class="ellipsis">2019-12-31 10:00大陆上映</li>
                </ul>
            </div>
            <div class="action-buyBtn">
                <a class="buy" id="BUY" name="BUY" href="/buy_ticket">特惠购票</a>
            </div>
        </div>
    </div>
</div>
