<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天空影院</title>
    <link rel="icon" href="/static/img/天空.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/layer.css">
    <link rel="stylesheet" href="/static/css/buy_ticket.css">
    <script src="/static/js/jquery-3.4.1.js"></script>
    {#"天空影院"字体设置#}
    <style>
        @font-face {
            font-family: mFont;
            src: url('/static/bootstrap/fonts/方正舒体.TTF');
        }
    </style>
</head>
<body>
{% include 'nav.html' %}
{% include 'banner.html' %}
{% include 'layer.html' %}


<div class="clearfloat" style="margin-left: 351.5px;">
    <div class="today" style="float:left;height: 100px;text-align: center;cursor: pointer;">
        <span style="margin-top: 25px;display: inline-block;" class="time1"></span>
        <br>
        <span>今天</span>
    </div>
    <div class="tomorrow" style="float:left;height: 100px;text-align: center;margin-left: 30px;cursor: pointer;">
        <span style="margin-top: 25px;display: inline-block;" class="time2"></span>
        <br>
        <span>明天</span>
    </div>
</div>
<div style="width: 1200px;margin: 0 auto;">
    <table style="width: 100%;border-spacing: 0;">
        <thead>
            <tr style="background-color: #f1f1f1;height: 80px;font-size: 18px;">
                <th>放映时间</th>
                <th>语言版本</th>
                <th>放映厅</th>
                <th>售价（元）</th>
                <th>选座购票</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 80px;">
                <td style="text-align: center;width: 20%;">
                    <span style="font-size: 18px;">10:00</span>
                    <br>
                    <span style="color: #999;font-size: 10px;">12:00散场</span>
                </td>
                <td style="text-align: center;width: 20%;">国语2D</td>
                <td style="text-align: center;width: 20%;">1号厅</td>
                <td style="text-align: center;width: 20%;color:red;font-size: 20px;">38</td>
                <td style="text-align: center;width: 20%;">
                    <a style="background-color: red;width: 120px;height: 40px;display: inline-block;line-height: 40px;color: white;cursor: pointer;">选座购票</a>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td style="text-align: center;width: 20%;">
                    <span style="font-size: 18px;">10:00</span>
                    <br>
                    <span style="color: #999;font-size: 10px;">12:00散场</span>
                </td>
                <td style="text-align: center;width: 20%;">国语2D</td>
                <td style="text-align: center;width: 20%;">1号厅</td>
                <td style="text-align: center;width: 20%;color:red;font-size: 20px;">38</td>
                <td style="text-align: center;width: 20%;">
                    <a style="background-color: red;width: 120px;height: 40px;display: inline-block;line-height: 40px;color: white;cursor: pointer;">选座购票</a>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td style="text-align: center;width: 20%;">
                    <span style="font-size: 18px;">10:00</span>
                    <br>
                    <span style="color: #999;font-size: 10px;">12:00散场</span>
                </td>
                <td style="text-align: center;width: 20%;">国语2D</td>
                <td style="text-align: center;width: 20%;">1号厅</td>
                <td style="text-align: center;width: 20%;color:red;font-size: 20px;">38</td>
                <td style="text-align: center;width: 20%;">
                    <a style="background-color: red;width: 120px;height: 40px;display: inline-block;line-height: 40px;color: white;cursor: pointer;">选座购票</a>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td style="text-align: center;width: 20%;">
                    <span style="font-size: 18px;">10:00</span>
                    <br>
                    <span style="color: #999;font-size: 10px;">12:00散场</span>
                </td>
                <td style="text-align: center;width: 20%;">国语2D</td>
                <td style="text-align: center;width: 20%;">1号厅</td>
                <td style="text-align: center;width: 20%;color:red;font-size: 20px;">38</td>
                <td style="text-align: center;width: 20%;">
                    <a style="background-color: red;width: 120px;height: 40px;display: inline-block;line-height: 40px;color: white;cursor: pointer;">选座购票</a>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td style="text-align: center;width: 20%;">
                    <span style="font-size: 18px;">10:00</span>
                    <br>
                    <span style="color: #999;font-size: 10px;">12:00散场</span>
                </td>
                <td style="text-align: center;width: 20%;">国语2D</td>
                <td style="text-align: center;width: 20%;">1号厅</td>
                <td style="text-align: center;width: 20%;color:red;font-size: 20px;">38</td>
                <td style="text-align: center;width: 20%;">
                    <a style="background-color: red;width: 120px;height: 40px;display: inline-block;line-height: 40px;color: white;cursor: pointer;">选座购票</a>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td style="text-align: center;width: 20%;">
                    <span style="font-size: 18px;">10:00</span>
                    <br>
                    <span style="color: #999;font-size: 10px;">12:00散场</span>
                </td>
                <td style="text-align: center;width: 20%;">国语2D</td>
                <td style="text-align: center;width: 20%;">1号厅</td>
                <td style="text-align: center;width: 20%;color:red;font-size: 20px;">38</td>
                <td style="text-align: center;width: 20%;">
                    <a style="background-color: red;width: 120px;height: 40px;display: inline-block;line-height: 40px;color: white;cursor: pointer;">选座购票</a>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td style="text-align: center;width: 20%;">
                    <span style="font-size: 18px;">10:00</span>
                    <br>
                    <span style="color: #999;font-size: 10px;">12:00散场</span>
                </td>
                <td style="text-align: center;width: 20%;">国语2D</td>
                <td style="text-align: center;width: 20%;">1号厅</td>
                <td style="text-align: center;width: 20%;color:red;font-size: 20px;">38</td>
                <td style="text-align: center;width: 20%;">
                    <a style="background-color: red;width: 120px;height: 40px;display: inline-block;line-height: 40px;color: white;cursor: pointer;">选座购票</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div style="height: 1000px;"></div>

<script  type="text/javascript">
    window.onload=function () {
        $('.buy')[0].innerHTML='其他电影推荐';
        $('.buy').attr('href','/films');
    };

    var now = new Date();
    var time1 = now.getFullYear() + "/" +(now.getMonth()+1)+"/"+now.getDate();
    var time2 = now.getFullYear() + "/" +(now.getMonth()+1)+"/"+(now.getDate()+1);
    $('.time1')[0].innerText=time1;
    $('.time2')[0].innerText=time2;
</script>
</body>
</html>