<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天空影院</title>
    <link rel="icon" href="/static/img/天空.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/banner.css">
    <link rel="stylesheet" href="/static/css/buy_ticket.css">
    <link rel="stylesheet" href="/static/css/layer.css">
    <link rel="stylesheet" href="/static/css/films.css">
    <link rel="stylesheet" href="/static/css/tab_desc.css">
    <link rel="stylesheet" href="/static/css/tab_img.css">
    <link rel="stylesheet" href="/static/css/tab_celebrity.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <script src="/static/js/jquery-3.4.1.js"></script>
    {#"天空影院"字体设置#}
    <style>
        @font-face {
            font-family: mFont;
            src: url('/static/bootstrap/fonts/方正舒体.TTF');
        }
    </style>
</head>
<body>
{% include 'nav.html' %}
{% include 'banner.html' %}
<div class="container">
    <div class="main-content-container clearfloat">
        <div class="main-content">
            <div class="tab-container">
                <div class="tab-title-container clearfloat">
                    <div class="tab-title title1 active">演职人员</div>
                    <div class="tab-title title2">图集</div>
                </div>
                <div class="tab-content-container"></div>
            </div>
        </div>
        <div class="related">
            <div class="module">
                <div class="mod-title">
                    <i class="fa fa-film" aria-hidden="true"></i>
                    <h3>推荐影片</h3>
                </div>
                <div class="mod-content">
                    <div class="related-movie">
                        <div class="related-movie-item">
                            <div class="clearfloat">
                                <div class="item-img">
                                    <img src="/media/img/films/美丽人生.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <h5>美丽人生</h5>
                                    <div class="type">战争/剧情/爱情</div>
                                    <div class="time">2020-01-03|中国大陆</div>
                                    <div class="score"><em>9.4</em></div>
                                </div>
                            </div>
                        </div>
                        <div class="related-movie-item">
                            <div class="clearfloat">
                                <div class="item-img">
                                    <img src="/media/img/films/美丽人生.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <h5>美丽人生</h5>
                                    <div class="type">战争/剧情/爱情</div>
                                    <div class="time">2020-01-03|中国大陆</div>
                                    <div class="score"><em>9.4</em></div>
                                </div>
                            </div>
                        </div>
                        <div class="related-movie-item">
                            <div class="clearfloat">
                                <div class="item-img">
                                    <img src="/media/img/films/美丽人生.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <h5>美丽人生</h5>
                                    <div class="type">战争/剧情/爱情</div>
                                    <div class="time">2020-01-03|中国大陆</div>
                                    <div class="score"><em>9.4</em></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div style="height: 1000px;"></div>

{% include 'layer.html' %}

<script  type="text/javascript">

    function to_cele(){
        if ($('.to_cele').siblings()[1].innerText==='演职人员'){
            $('.title1').addClass('active');
            $('.title2').removeClass('active')
        }
        $('.tab-content-container').load('/tab_celebrity.html')
        $("html,body").animate({scrollTop: $("#BUY").offset().top}, 500);
    }

    function to_img(){
        if ($('.to_img').siblings()[1].innerText==='图集'){
            $('.title2').addClass('active');
            $('.title1').removeClass('active')
        }
        $('.tab-content-container').load('/tab_img.html')
        $("html,body").animate({scrollTop: $("#BUY").offset().top}, 500);
    }

    $(document).ready(function(){
        $('.tab-content-container').load('/tab_celebrity.html');
    });
    $('.tab-title').click(function () {
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
        if ($(this)[0].innerHTML==='演职人员'){
            $('.tab-content-container').load('/tab_celebrity.html')
        }else if ($(this)[0].innerHTML==='图集'){
            $('.tab-content-container').load('/tab_img.html')
        }
    });

</script>
</body>
</html>