<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天空影院</title>
    <link rel="icon" href="/static/img/天空.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/banner.css">
    <link rel="stylesheet" href="/static/css/buy_ticket.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/layer.css">
    <link rel="stylesheet" href="/static/css/films.css">
    <link rel="stylesheet" href="/static/css/tab_desc.css">
    <link rel="stylesheet" href="/static/css/tab_img.css">
    <link rel="stylesheet" href="/static/css/tab_celebrity.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <script src="/static/js/jquery-3.4.1.js"></script>
    {#"天空影院"字体设置#}
    <style>
        @font-face {
            font-family: mFont;
            src: url('/static/bootstrap/fonts/方正舒体.TTF');
        }
    </style>
</head>
<body>
{% include 'nav.html' %}
{% include 'banner.html' %}
<div class="container">
    <div class="main-content-container clearfloat">
        <div class="main-content">
            <div class="tab-container">
                <div class="tab-title-container clearfloat">
                    <div class="tab-title title1 active">演职人员</div>
                    <div class="tab-title title2">图集</div>
                </div>
                <div class="tab-content-container"></div>
            </div>
        </div>
        <div class="related">
            <div class="module">
                <div class="mod-title">
                    <i class="fa fa-film" aria-hidden="true" style="float: left;display: inline-block;margin-top: 5px;margin-right: 2px;"></i>
                    <h3>推荐影片</h3>
                </div>
                <div class="mod-content">
                    <div class="related-movie">
                        <div class="related-movie-item">
                            <div class="clearfloat">
                                <div class="item-img">
                                    <img src="{{ films_info.pic }}" alt="">
                                </div>
                                <div class="item-info">
                                    <h5>{{ films_info.title }}</h5>
                                    <div class="type">{{ films_info.type|slice:"2" }}&nbsp;{{ films_info.type|slice:"2:4" }}&nbsp;{{ films_info.type|slice:"4:6" }}&nbsp;{{ films_info.type|slice:"6:8" }}</div>
                                    <div class="time">{{ films_info.releasetime }}&nbsp;|&nbsp;{{ films_info.origin }}</div>
                                    <div class="score"><em>9.4</em></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'layer.html' %}
<script src="/static/js/films.js"></script>
</body>
</html>