<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天空影院</title>
    <link rel="icon" href="/static/img/天空.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/films.css">
    <script src="/static/js/jquery-3.4.1.js"></script>
    {#"天空影院"字体设置#}
    <style>
        @font-face {
            font-family: mFont;
            src: url('/static/bootstrap/fonts/方正舒体.TTF');
        }
    </style>
</head>
<body>
<div class="clearfloat">
    {% include 'nav.html' %}
</div>
<div class="banner">
    <div class="wrapper clearfloat">
        <div class="cele-left">
            <img class="con-img" src="/static/img/宠爱.jpg">
        </div>
        <div class="cele-right clearfloat">
            <div class="movie-brief">
                <h3 style="width: 900px;line-height: 32px;font-weight: 700;font-size: 26px;">宠爱</h3>
                <div class="ellipsis" style="width: 340px;font-size: 18px;line-height: 1.3;margin-bottom: 14px;">Adoring</div>
                <ul style="width: 250px;list-style: none;padding-left: 0;margin-bottom: 20px;">
                    <li class="ellipsis">
                        <a class="text-link" href=""> 喜剧 </a>
                        <a class="text-link" href=""> 爱情 </a>
                        <a class="text-link" href=""> 剧情 </a>
                    </li>
                    <li class="ellipsis">
                        中国大陆 / 108分钟
                    </li>
                    <li class="ellipsis">2019-12-31 10:00大陆上映</li>
                </ul>
            </div>
            <div class="action-buyBtn">
                <div class="action clearfloat">
                    <a class="wish">
                        <div>
                            <i class="icon wish-icon"></i>
                            <span>想看</span>
                        </div>
                    </a>
                    <a class="score">
                        <div>
                            <i class="icon score-icon"></i>
                            <span>评分</span>
                        </div>
                    </a>
                </div>
                <a class="btn buy" name="main">特惠购票</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="main-content-container clearfloat">

        <div class="main-content">
            <div class="tab-container">
                <div class="tab-title-container clearfloat">
                    <div class="tab-title active">介绍</div>
                    <div class="tab-title">演职人员</div>
                    <div class="tab-title">图集</div>
                    <div onclick="all()">asads</div>
                </div>
                <div class="tab-content-container">
                </div>
            </div>
        </div>
        <div class="related"></div>
    </div>
    <script  type="text/javascript">

        $(document).ready(function(){
            $('.tab-content-container').load('/tab_desc.html');
        });
        $('.tab-title').click(function () {
            $(this).addClass('active');
            $(this).siblings().removeClass('active');
            if ($(this)[0].innerHTML=='介绍'){
                $('.tab-content-container').load('/tab_desc.html')
            }else if ($(this)[0].innerHTML=='演职人员'){
                $('.tab-content-container').load('/tab_celebrity.html')
            }else if ($(this)[0].innerHTML=='图集'){
                $('.tab-content-container').load('/tab_img.html')
            }
        });

        function all(){
            alert('asdasd');
        }

        $('.mod-title').on('click','more',function () {
            alert('asd')
        })

    </script>
</div>




<div style="height: 1000px;"></div>

</body>
</html>