<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>天空影院</title>
    <link rel="icon" href="/static/img/天空.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/css.css">
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    {#"天空影院"字体设置#}
    <style>
        @font-face {
            font-family: mFont;
            src: url('/static/bootstrap/fonts/方正舒体.TTF');
        }
    </style>
</head>
<body style="min-width: 800px">
<div class="clearfloat">
    {% include 'nav.html' %}
</div>

{#轮播图整体#}
<div id="carousel-example-generic" class="carousel slide row" data-ride="carousel"
     style="position: relative;height: 290px;margin-top: 80px;">
    {#轮播图中的五个小点#}
    <ol class="carousel-indicators" style="position: absolute;bottom: 60px">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>
    {#轮播图中的两个按钮#}
    <div class="btn-gp">
        <button class="btn btn-active actively now_movie" style="outline: none">正在热映</button>
        <button class="btn future_movie" style="outline: none">即将上映</button>
    </div>
    {#轮播图中的五张图片#}
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="bg-img1"></div>
        </div>
        <div class="item">
            <div class="bg-img2"></div>
        </div>
        <div class="item">
            <div class="bg-img3"></div>
        </div>
        <div class="item">
            <div class="bg-img4"></div>
        </div>
        <div class="item">
            <div class="bg-img5"></div>
        </div>
    </div>
    {#轮播图中左右两个箭头#}
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


{#遮罩层#}
<div id="layer-mask" class="layer-mask"></div>
{#弹出层窗体#}
<div id="layer-pop" class="layer-pop">
    {#弹出层关闭#}
    <div id="layer-close" class="layer-close">×</div>
    {#弹出层内容#}
    <div id="layer-content" class="layer-content">
        <div style="height: 40px">
            <div class="loginbtn pop">登录</div>
            <div class="registerbtn pop">注册</div>
        </div>
        <form action="" method="post" name="pay">
            <div class="login"></div>
        </form>
    </div>
</div>


<script type="text/javascript">

    {#页面加载后登录弹出层的默认样式#}
    $(document).ready(function(){
        $('.login').load('/login.html')
        $('.registerbtn').addClass('pop_color');
    });

    {#正在热映和即将上映两个按钮的动态效果#}
    $(".btn-gp").find("button").hover(function () {
        $(this).addClass("btn-active");
    }, function () {
        $(this).removeClass("btn-active")
    });
    $(".btn").on("click",function () {
        $(this).addClass("actively");
        $(this).siblings().removeClass("actively")
        $(this).siblings().removeClass("btn-active")
    });

    {#点击登录时弹出层的样式变化#}
    $('.loginbtn').click(function(){
        $('.login').load('/login.html')
        $(this).removeClass('pop_color');
        $(this).siblings().addClass('pop_color');
    });

    {#点击注册时弹出层样式变化#}
    $('.registerbtn').click(function(){
        $('.login').load('/register.html')
        $(this).removeClass('pop_color');
        $(this).siblings().addClass('pop_color');
    });

    {#弹出层的样式变化#}
    $(function(){
        $("#loginlink").click(function() {
            $("#layer-mask").show();
            $("#layer-pop").show();
            $("#layer-close").click(function(){
                $("#layer-mask").hide();
                $("#layer-pop").hide();
            });
        });
    });

</script>
</body>
</html>