{#导航栏#}
<div class="clearfloat">
    <div class="nav-big">
        <div class="nav-small">
            <div class="nav-left">
                <img src="/static/img/天空.png" class="nav-img">
                <p class="nav-text">天空影院</p>
            </div>
            <ul class="nav-ul">
                <li class="nav-li"><a href="/login" style="text-decoration: none;color: #666;">亲，请登录</a></li>
                <li class="nav-li">退出登录</li>
                <li class="nav-li">个人中心</li>
            </ul>
        </div>
    </div>
</div>