<div class="celebrity-container clearfloat">
    {% for i in cele_type %}
        <div class="celebrity-group">
            <div class="celebrity-type">{{ i.type }}</div>
            <ul class="celebrity-list clearfloat">
                {% for j in cele_list %}
                    {% if i.type == j.type %}
                        <li class="celebrity">
                            <img class="default-img" src="{{ j.pic }}" >
                            <div class="info">{{ j.name }}</div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>