<div class="celebrity-container clearfloat" style="margin-top: 40px;">
    <div class="celebrity-group">
        <div class="celebrity-type">导演</div>
        <ul class="celebrity-list clearfloat">
            <li class="celebrity">
                <img class="default-img" src="/static/img/tab_desc/杨子.jpg" >
                <div class="info">杨子</div>
        </li></ul>
    </div>
    <div class="celebrity-group" style="margin-top: 30px;">
        <div class="celebrity-type">演员</div>
        <ul class="celebrity-list clearfloat">
            <li class="celebrity actor">
                <img class="default-img" src="/static/img/tab_desc/于和伟.jpg" >
                <div class="info">于和伟</div>
            </li>
            <li class="celebrity actor">
                <img class="default-img" src="/static/img/tab_desc/吴磊.jpg" >
                <div class="info">吴磊</div>
            </li>
            <li class="celebrity actor">
                <img class="default-img" src="/static/img/tab_desc/张子枫.jpg" >
                <div class="info">张子枫</div>
            </li>
            <li class="celebrity actor">
                <img class="default-img" src="/static/img/tab_desc/钟汉良.jpg" >
                <div class="info">钟汉良</div>
            </li>
            <li class="celebrity actor">
                <img class="default-img" src="/static/img/tab_desc/杨子姗.jpg" >
                <div class="info">杨子姗</div>
            </li>
            <li class="celebrity actor">
                <img class="default-img" src="/static/img/tab_desc/陈伟霆.jpg" >
                <div class="info">陈伟霆</div>
            </li>
        </ul>
    </div>
</div>