<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><label style="font-family:STXinwei"> 天空影院</label>华文新魏：STXinwei</p>
<p><label style="font-family:STXingkai "> 天空影院</label>华文行楷：STXingkai </p>
<p><label style="font-family:STLiti "> 天空影院</label>华文隶书：STLiti  </p>
<p><label style="font-family:STHupo "> 天空影院</label>华文琥珀：STHupo  </p>
<p><label style="font-family:STCaiyun "> 天空影院</label> 华文彩云：STCaiyun</p>
<p><label style="font-family:FZYaoti "> 天空影院</label> 方正姚体：FZYaoti </p>
<p><label style="font-family:FZShuTi "> 天空影院</label> 方正舒体：FZShuTi </p>
<p><label style="font-family:STFangsong "> 天空影院</label> 华文仿宋：STFangsong</p>
<p><label style="font-family:STZhongsong "> 天空影院</label>华文中宋：STZhongsong  </p>
<p><label style="font-family:STSong "> 天空影院</label>华文宋体：STSong  </p>
<p><label style="font-family:STKaiti "> 天空影院</label> 华文楷体：STKaiti </p>
<p><label style="font-family:STXihei "> 天空影院</label> 华文细黑：STXihei </p>
<p><label style="font-family:LiSu "> 天空影院</label>隶书：LiSu  </p>
<p><label style="font-family:YouYuan "> 天空影院</label> 幼圆：YouYuan </p>
<p><label style="font-family:Microsoft YaHei "> 天空影院</label> 微软雅黑体：Microsoft YaHei </p>
<p><label style="font-family:Microsoft JhengHei"> 天空影院</label>微軟正黑體：Microsoft JhengHei  </p>
<p><label style="font-family:KaiTi_GB2312 "> 天空影院</label> 楷体_GB2312：KaiTi_GB2312 </p>
<p><label style="font-family:FangSong_GB2312 "> 天空影院</label>仿宋_GB2312：FangSong_GB2312  </p>
<p><label style="font-family:KaiTi "> 天空影院</label> 楷体：KaiTi</p>
<p><label style="font-family:FangSong "> 天空影院</label> 仿宋：FangSong </p>
<p><label style="font-family:NSimSun "> 天空影院</label>新宋体：NSimSun  </p>
<p><label style="font-family:SimSun "> 天空影院</label> 宋体：SimSun </p>
<p><label style="font-family:SimHei "> 天空影院</label> 黑体：SimHei </p>
<p><label style="font-family:DFKai-SB "> 天空影院</label> 標楷體：DFKai-SB </p>
<p><label style="font-family:MingLiU "> 天空影院</label> 細明體：MingLiU </p>
<p><label style="font-family:PMingLiU "> 天空影院</label> 新細明體：PMingLiU </p>
<p><label style="font-family:Apple LiSung Light "> 天空影院</label> 蘋果儷細宋：Apple LiSung Light </p>
<p><label style="font-family:Apple LiGothic Medium "> 天空影院</label> 蘋果儷中黑：Apple LiGothic Medium </p>
<p><label style="font-family:BiauKai "> 天空影院</label> 標楷體：BiauKai </p>
<p><label style="font-family:LiSong Pro Light "> 天空影院</label> 儷宋 Pro：LiSong Pro Light</p>
<p><label style="font-family:LiHei Pro Medium "> 天空影院</label> 儷黑 Pro：LiHei Pro Medium </p>
<p><label style="font-family:STFangsong "> 天空影院</label> 华文仿宋：STFangsong </p>
<p><label style="font-family:STSong "> 天空影院</label> 华文宋体：STSong </p>
<p><label style="font-family:STKaiti "> 天空影院</label> 华文楷体：STKaiti</p>
<p><label style="font-family:STHeiti "> 天空影院</label> 华文黑体：STHeiti </p>
<p><label style="font-family:STHeiti Light [STXihei] "> 天空影院</label> 华文细黑：STHeiti Light [STXihei] </p>  
</body>
</html>